body {
    margin-top: 3%;
    background-color: #14213D;
    font-weight: 600;
    
    font-family: 'Montserrat', sans-serif;

}
@media (max-width: 978px) {

    body {
        margin-top: 10%;
    }
    #entireList{
        margin-bottom: 15%;
    }
}

h1 {
    color:  #EDEEFF;
}

p{
    color: red;
    margin: auto;
    display: none;
}

li{
    margin-left: 10%;
    margin-right: 10%;

}

#author{
    color: white;
    margin-bottom: 1.5%;
    margin-top: 1.5%;
}

#entireList{
    margin-bottom: 5%;
}

input{
    border-radius: 25px;
    border: 2px solid #14213D;
    padding: 20px; 
    width: 200px;
    height: 15px;    
}

#addButton{
    border-radius: 25px;
    border: 2px solid #14213D;
    padding: 15px; 
}

#deleteButton{
    border-radius: 25px;
    border: 2px solid #14213D;
    padding: 15px; 
}

#gitlink{
    color: white;
}