body {
    margin-top: 3%;
    background-color: #14213D;
    font-weight: 600;
    
    font-family: 'Montserrat', sans-serif;

}
@media (max-width: 978px) {

    body {
        margin-top: 20%;
    }
}

h1 {
    color:  #E5E5E5;
}
